*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --bg-color-btn: #ccc;
  --main-color: blue;
  --text-color-one: green;
  --text-color-two: #ff0000;
  --border-color: yellow;
}

body {
  margin: 0;
  font-family: monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}
